@CHARSET "ISO-8859-1";

#drive-control{
	text-align:center;
}

.drive-button{
	display:inline-block;
	/*height:auto;*/
	padding:40px;
	/*border-radius:15px;
	background-color:#353538;*/
	/*margin:10px;*/
}
 



